.btn-map {
    width: 100%;
    max-width: 32px;
    height: 32px;
    margin: 4px;
    padding: 0;
}

.answer-map-container {
    min-height: 100px;
    margin-left: -10px;
    margin-right: -10px;
    overflow-y: scroll;
}

.bg-pimary .outlined {
    border: 1px solid;
}
