body {
    font-family: 'Poppins', sans-serif;
}
.h2 {
    font-size: 40px;
    font-weight: 600;
    color: $color-text-heading;
    margin: 0;
    padding: 0;
    line-height: 50px;
}
.h2-white {
    font-size: 40px;
    font-weight: 600;
    color: $color-white;
    margin: 0;
    padding: 0;
    line-height: 50px;
}
.h3 {
    font-size: 30px;
    font-weight: 600;
    color: $color-text-heading;
    margin: 0;
}
.h4 {
    font-size: 20px;
    font-weight: 500;
    color: $color-text-heading;
    margin: 0;
    
}
.p-1 {
    font-size: 16px;
    font-weight: 400;
    color: $text-color-paragraph;
    line-height: 28px;
    margin: 0;
    padding: 0;
}
.p-2 {
    font-size: 16px;
    font-weight: 300;
    color: $text-color-paragraph;
    line-height: 28px;
    margin: 0;
    padding: 0 !important;
}
.p-3 {
    font-size: 15px;
    font-weight: 300;
    color: $text-color-paragraph;
    line-height: 28px;
    margin: 0;
    padding: 0 !important;
}
.p-white {
    font-size: 16px;
    font-weight: 300;
    color: $color-white;
    line-height: 28px;
    margin: 0;
    padding: 0 !important;
}